# PostgreSQL
POSTGRES_DB=taskflow
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha

# JWT
JWT_KEY=sua_chave_secreta_com_minimo_32_caracteres

# E-mail (notification-service)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app_gmail
BACKEND_API_URL=http://backend-api:8080